body, h1, h2, h3, h4, p, a {
    margin: 0;
    font-size: 100%; font-weight: normal;
  }
  
  *{box-sizing: border-box}
  
  body {
    font-family: 'Inter', sans-serif;
  }
  
a {
    padding: 2px; /* Поля вокруг текста ссылки TEST GIT */
    text-decoration: none; /* Убирает подчеркивание для ссылок */
   } 

a:hover { 
    text-decoration: underline; /* Добавляем подчеркивание при наведении курсора на ссылку */
    background: #f73; /* Цвет фона при наведении на ссылку курсора */
    color: yellow; /* Новый цвет текста */
  }

  .header {
    height: 65vh;
    background-color: #eee;
    background-size: cover;
    background-position: center;
    text-align: center;
  
  }
  
  .header-title {
    font-size: 140px;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    margin: auto;
  }
  
  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(231, 231, 231, 0.5);
    display: flex;
  }
  
  .content {
    font-size: 0;
    width: 790px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  
  .card {
    vertical-align: top;
    width: 350px;
    height: 180px;
    margin-bottom: 60px;
    margin-right: 90px;
    padding: 45px 45px 70px;
    display: inline-block;
    box-shadow: 4px 4px 5px rgba(157, 209, 193, 0.75);
  }

  .no-right-margin {
    margin-right: 0px;
  }
  
  .card-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 16px;
    line-height: 25px;
    text-indent: 1.5em;
  }
  
  .card-image {
    width: 100%;
    margin-bottom: 25px;
  }
  
  .footer {
    height: 100px;
    background-color: rgba(0, 0, 0);
    display: flex;
  }
  
  .footer-author {
    font-size: 24px;
    margin: auto;
    color: white;
  }